%link{rel: "stylesheet", href: "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"}
%footer.mt-auto
  .container
    .row
      .col-md-4.mb-3
        %h5 About Us
        %p Our passion is for you to do your best. We provide the best in class To Do application to keep you orginized and productive.
      .col-md-4.mb-3
        %h5 Quick Links
        %ul.list-unstyled
          %li
            %a.text-decoration-none.text-white{href: "#"} Home
      .col-md-4.mb-3
        %h5 Follow Us
        %ul.list-inline.social-icons
          %li.list-inline-item
            %a.text-white{href: "https://www.linkedin.com/company/fait-distribution"}
              %i.fa.fa-linkedin-square
    %hr.mb-4
    .row
      .col-md-12.text-center
        %p &copy; 2025 To Do Your Best. All rights reserved.
