<section class="wrapper">
    <div class="container">
        <div class="row">
            <%@tasks.each do |task| %>
                <%= render "shared/card", :task => task %>
            <%end%>
        </div>
    </div>
</section>