<div class="container g-0">
<%= link_to tasks_new_path, class: "btn btn-lg", style: "font-size: 3em; color: Tomato;", data: { bs_toggle: "tooltip", bs_placement: "top" }, title: "Create a new task" do %>
<i class="fa fa-plus-circle icon-grow"></i>
<% end %>
</div>
<section class="wrapper">
    <div class="container py-2">
        <div class="row">
            <%@tasks.each do |task| %>
                <%= render "shared/card", :task => task %>
            <%end%>
        </div>
    </div>
</section>