%ul
  %li
    %a{href: 'https://www.costco.com/membership-information.html'}= t('application.footer.about_9')
  %li
    %a{href: 'https://www.costco.com/terms-and-conditions-of-use.html'}= t('application.footer.about_2')