%ul
  %li
    %a{href: 'https://customerservice.costco.com/app/answers/list/p/281'}= t('application.footer.customer_service_1')
  %li
    %a{href: 'https://customerservice.costco.com/app/answers/detail/a_id/1191'}= t('application.footer.customer_service_2')
  %li
    %a{href: 'https://customerservice.costco.com/app/answers/detail/c/10/a_id/9'}= t('application.footer.customer_service_3')